<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Binary Search Tree</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=My+Soul&family=Source+Code+Pro:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@1,200&family=Whisper&display=swap"
    rel="stylesheet"
  />
</head>
